.o-signup {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.o-img-container-signup {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.o-img-fondo-signup {
    position: relative;
    width: 48.7%;
}

.o-signup-section {
    width: 80%;
    position: absolute;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-box-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-info-signup {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background: rgb(143, 232, 190);
}

.o-input {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    border: none;
}