.o-home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.o-img-fondo {
    position: relative;
    width: 153.4vh;
}

.o-home-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-title-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-text {
    color: rgb(42, 105, 104);
}

.o-button {
    font-weight: bold;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.7rem;
}

.o-button-signin {
    color: rgb(255, 255, 255);
    background: none;
    border: 2px solid rgb(255, 255, 255);
}

.o-button-login {
    color: rgb(42, 105, 104);
    background: rgb(255, 255, 255);
}

.o-button-readmore {
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(153, 235, 187), rgba(103, 255, 199));
    border: none;
}

.o-readmore-section {
    position: absolute;
    margin-top: 133vh;
    width: 55rem;
    display: flex;
    justify-content: space-between;
}

.o-readmore-text {
    width: 17rem;
}

.o-info-section {
    position: absolute;
    margin-top: 220vh;
    width: 55rem;
    display: flex;
    justify-content: flex-end;
}

.o-info {
    width: 20rem;
}