.o-section-home{
    display: flex;
    height: 150rem;
    justify-content: center;
    background-image: url("../../Img/fondo_home.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.o-home-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-header {
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-access-container {
    width: 10rem;
    justify-content: space-between;
    display: flex;
}

.o-title-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-button-signin {
    padding: 0.5rem 2rem;
    border: none;
    background: none;
}

.o-button-readmore {
    padding: 0.5rem 2rem;
    background: linear-gradient(to right, rgba(153, 235, 187), rgba(103, 255, 199));
    border: none;
}