.o-header2 {
    width: 100%;
    color: rgb(42, 105, 104);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(103, 255, 199), rgba(153, 235, 187));
}

.o-credits-container {
    margin-left: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-title-header2 {
    margin: 1rem 0rem;
}

.o-img-profile {
    margin-right: 2rem;
    width: 3rem;
}