.o-login {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.o-img-container-login {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.o-img-fondo-login {
    position: relative;
    width: 51%;
}

.o-login-section {
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.o-box-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-info-login {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background: rgb(143, 232, 190);
}

.o-input {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    border: none;
}