.o-login {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.o-header {
    margin-left: 0rem;
}

.o-img-fondo-login {
    position: relative;
    margin-top: 3.5rem;
    width: 97vh;
}

.o-login-section {
    position: absolute;   
}

.o-box-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.o-info-login {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background: rgb(143, 232, 190);
}

.o-input {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.3rem 1rem;
    border: none;
}